.chat-clearfix() {
  &:after {
    clear: both;
  }
}

.hidden {
  display: none;
}

.reset-list() {
  margin: 0;
  padding: 0;
  list-style: none;
}

& when (@media-common = true) {
  .chat-buttons {
    z-index: 5;
    float: left;
    margin-top: 10px;
    padding: 5px;
  }
  button.chat-initial {
    padding: 0;
    transition: all ease .3s;
    background: unset;
    border: none;
    border-radius: 50%;
    box-shadow: none;

    .chat-clearfix();

    .svg-icon {
      width: 2rem;
    }
  }

  .chat-close {
    display: inline-block;
    padding: 3px;
    &:hover {
      cursor: pointer;
    }
  }

  .modal-content.chat-wrapper.modal-slide,
  .modal-content.chat-wrapper.modal-popup {
    z-index: 5;
    position: fixed;
    left: unset;
    top: 50%;
    right: 10px;
    padding: 10px;
    background-color: unset;
    max-height: 250px;

    .message-list {
      .reset-list();
      display: flex;
      flex-direction: column;

      .message-item {
        -webkit-box-shadow: 0 0 10px 2px rgba(0,0,0,0.5);
        -moz-box-shadow: 0 0 10px 2px rgba(0,0,0,0.5);
        box-shadow: 0 0 10px 2px rgba(0,0,0,0.5);
        border-radius: 5px;
        transition: all ease .3s;

        &.customer {
          background-color: @color-blue-dodger;
          align-self: flex-end;
        }

        &.admin {
          background-color: @color-brownie;
          align-self: flex-start;
        }
      }
    }

    #chat-form {
      z-index: 5;
      align-self: flex-end;
      order: 99;
      width: 100%;
      .control {
        position: relative;
      }
      label[for="customer_message"] {
        position: absolute;
        left: 15px;
        top: 15px;
        transition: all ease .3s;
      }
      #customer_message {
        resize: unset;
        &:focus + label[for="customer_message"],
        &:active + label[for="customer_message"],
        &:focus-within + label[for="customer_message"] {
            display: none;
        }
      }
    }
  }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xxs) {

}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
  .modal-content.chat-wrapper {
    max-width: 350px;
  }
  .chat-buttons {
    position: fixed;
    bottom: 50px;
    right: 50px;
  }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
  .chat-buttons {
    margin-top: 0;
  }

  .modal-content.chat-wrapper {
    bottom: 100px;
    width: 40%;
    max-width: 350px;
    min-height: 300px;
    #chat-form {
      .flex-wrap {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
      .field {
        width: 80%;
      }
    }
  }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s) {
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xxs) {

}