& when (@media-common = true) {
  button.chat-initial {
    transition: all ease .3s;
    padding: 5px;
    display: inline-block;
    margin: 10px 0 0 20px;
    float: left;
    font-size: 1em;
    &:before,
    &:after {
      content: '';
      display: table;
    }
    &:after {
      clear: both;
    }
  }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xxs) {

}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
  button.chat-initial {
    position: fixed;
    bottom: 50px;
    right: 50px;
  }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
  button.chat-initial {
    margin: 0 20px;
  }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s) {
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xxs) {

}